.container{
    /* background-color: aquamarine; */
    padding: 1rem;
}
.menuItems{
    margin-top: 2rem;
    /* background-color: antiquewhite; */
}
.menuItems P{
    font-size: 15px;
}
.menuName{
    padding: 0rem 0rem;
    /* background-color: aquamarine; */
}
.menu_icon{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.135);
}
.plusIcon{
    cursor: pointer;
}
.sale{
    border-bottom: 1px solid rgba(0, 0, 0, 0.135);
    padding: .5rem 0;
    /* background-color: aquamarine; */
}